extends layout_e_classroom
block title
	title CoderPlanet - E-Classroom Teacher
	script(src="/term.js")
block content
	.e_classroom
		.content-classroom
			.window.classroom-teacher
				ul.nav.nav-tabs
					li.active
						a(href="#editor-view" data-toggle="tab") Editor
					li
						a(href="#quiz" data-toggle="tab") Quiz
				.tab-content
					.tab-pane.active(role="tabpanel" id="editor-view")
						.header-window
							.name-active
								img.circle(id="current-profile-picture" src='/uploads/profile_picture/#{classroom.teacher.username}.jpg')
								.username(id="current-view") #{classroom.teacher.username}
						.code
							div#editor-teacher
							//- textarea.editor(id='editor' type='textarea' cols='123' rows='24')
							div#terminal(data-container-id="#{container_id}")

						.footer-window
							input(type='button' class='form-control btn btn-success' value='Save as..' id='save-as')
							input(type='button' class='form-control btn btn-success' value='Save' id='save' disabled="disabled")
							if classroom.status == 'allowed'
								input(type='button' class='form-control btn btn-success' value="Allowed" id='status-changer')
							else
								input(type='button' class='red form-control btn btn-success' value="Disallowed" id='status-changer')
							.chat
								.textbox
									.type
										.input-group
											input(type="text" class="form-control" id="typing-box" placeholder="Message")
											.input-group-addon hide
								.content
									.header 
										p ห้องสนทนา
									.chat-box
										.story
										each val in chat
											if val.is_teacher
												p
													span.name #{val.sender}: 
													span #{val.message}
											else
												p
													span.name.black-font #{val.sender}: 
													span #{val.message}
					.tab-pane(role="tabpanel" id="quiz")
						.window-quiz
							h4 ชื่อแบบทดสอบ
							input.form-control(id="quiz-name" type="text")
							input(type="hidden" id="item-count" value="1")
							//- input(type="checkbox") 
							//- span กำหนดเวลาทุกข้อในระยะเวลา
							//- select(name="all-minute" id="")
							//- 	option(value="1") 1
							//- 	option(value="2") 2
							//- 	option(value="3") 3
							//- span นาที
							//- select(name="all-sec"  id="")
							//- 	option(value="1") 1
							//- 	option(value="2") 2
							//- 	option(value="3") 3
							//- span วินาที
							article
								h4 คำถามที่ 1  
								input.form-control(id="item1" type="text")
								br
								//- span กำหนดเวลาตอบคำถาม
								//- select(name="each-minute" id="")
								//- 		option(value="1") 1
								//- 		option(value="2") 2
								//- 		option(value="3") 3
								//- 	span นาที
								//- select(name="each-sec" id="")
								//- 	option(value="1") 1
								//- 	option(value="2") 2
								//- 	option(value="3") 3
								//- span วินาที
								p
									span A. 
									input.form-control(id="choice1_1" type="text")
								p
									span B. 
									input.form-control(id="choice2_1" type="text")
								p
									span C. 
									input.form-control(id="choice3_1" type="text")
								p
									span D. 
									input.form-control(id="choice4_1" type="text")
								br
							button.btn-primary.btn.btn-large(id="quiz-creator") สร้างแบบทดสอบ
			.sidebar
				.topic
					p ระบบ E-Classroom	
				.intro
					p Name: #{classroom.raw_name}
						span  |
						a(href="") ยกเลิกคลาส
					p Key of this E-Classroom: #{classroom.key}

				.topic-sub
					p Your view
				.teacher
					.docker(data-id="#{classroom.teacher.container_id}" data-owner="#{classroom.teacher.username}")
						img(src="/images/sublime2.png")
						.name #{classroom.teacher.username}
						.clear

				.topic-sub
					p Student view
						span.num_student จำนวนนักเรียน #{classroom.student_count} คน
				.student
					each val in classroom.students
						.docker(data-id="#{val.container_id}" data-owner="#{val.username}")
							img(src="/images/sublime2.png")
							.name
								p #{val.username}
								//- p.type typing ... 
							.clear
				.footer-side
					a.see See all students
		.clear
	!= renderJs()
	!= renderJs('socket')
	!= renderJs('chat')
	!= renderJs('editor_teacher')
	!= renderJs('terminal')
