extends layout_e_classroom
block title
	title CoderPlanet - E-Classroom Teacher
	script(src="/term.js")
block content
	.e_classroom
		.content-classroom
			.window.classroom-teacher
				.header-window
					.name-active
						img.circle(id="current-profile-picture" src='/uploads/profile_picture/#{classroom.teacher.username}.jpg')
						.username(id="current-view") #{classroom.teacher.username}
				.code
					textarea.editor(id='editor' type='textarea' cols='123' rows='24')
					div#terminal(data-container-id="#{container_id}")

				.footer-window
					input(type='button' class='form-control btn btn-success' value='Save' id='save')
					if classroom.status == 'allowed'
						input(type='button' class='form-control btn btn-success' value="Allowed" id='status-changer')
					else
						input(type='button' class='red form-control btn btn-success' value="Disallowed" id='status-changer')
					.chat
						.textbox
							.type
								.input-group
									input(type="text" class="form-control" id="typing-box" placeholder="Message")
									.input-group-addon hide
						.content
							.header 
								p ห้องสนทนา
							.chat-box
								.story
								each val in chat
									if val.is_teacher
										p
											span.name #{val.sender}: 
											span #{val.message}
									else
										p
											span.name.black-font #{val.sender}: 
											span #{val.message}
			.sidebar
				.topic
					p ระบบ E-Classroom	
				.intro
					p Name: #{classroom.raw_name}
						span  |
						a(href="") ยกเลิกคลาส
					p Key of this E-Classroom: #{classroom.key}

				.topic-sub
					p Your view
				.teacher
					.docker(data-id="#{classroom.teacher.container_id}" data-owner="#{classroom.teacher.username}")
						img(src="/images/sublime2.png")
						.name #{classroom.teacher.username}
						.clear

				.topic-sub
					p Student view
						span.num_student จำนวนนักเรียน #{classroom.student_count} คน
				.student
					each val in classroom.students
						.docker(data-id="#{val.container_id}" data-owner="#{val.username}")
							img(src="/images/sublime2.png")
							.name
								p #{val.username}
								//- p.type typing ... 
							.clear
				.footer-side
					a.see See all students
			.clear
	!= renderJs()
	!= renderJs('socket')
	!= renderJs('chat')
	!= renderJs('editor_teacher')
	!= renderJs('terminal')
