extends layout_e_classroom
block title
	title CoderPlanet - E-Classroom Student
	script(src="/term.js")
	script.
		function popup(url){
		  new_window = window.open(url,'name','height=650,width=1073');
		  if(window.focus){
			  new_window.focus() 
		  }
		}
block content
	.e_classroom
		.content-classroom
			.window.classroom-student 
				.header-window
					.class-name
						.form-group
							label Name : 
							span  #{classroom.raw_name}
							button.btn.btn-danger(type="button" data-toggle="modal" data-target="#myModal")	ออกจากคลาส

					.name-teacher
						.form-group
							label อาจารย์ผู้สอน :
							img.circle(src='/uploads/profile_picture/#{classroom.teacher.username}.jpg')
							span #{classroom.teacher.username}

						//- .name-active
						//- 	img.circle(src='/uploads/profile_picture/#{classroom.teacher.username}.jpg')
						//- 	.username #{classroom.teacher.username}
				.code
					div#editor
					div#terminal(data-container-id="#{container_id}")

				.footer-window
					input(type='button' class='form-control btn btn-success' value='Save as..' id='save-as')
					input(type='button' class='form-control btn btn-success' value='Save' id='save' disabled="disabled")
					input(type='button' class='form-control btn btn-warning' value='Ask for help' id='ask-for-help')
					.techer-window
						//- .window-teacher
						a(onclick="popup('/e-classroom/#{classroom.name}/teacher/student')") ดูหน้าต่างผู้สอน
					.chat
						.textbox
							.type
								.input-group
									input(class="form-control" id="typing-box" placeholder="Message")
									.input-group-addon hide
						.content
							.header 
								p ห้องสนทนา
							.chat-box
								.story
								each val in chat
									if val.is_teacher
										p
											span.name #{val.sender}: 
											span #{val.message}
									else
										p
											span.name.black-font #{val.sender}: 
											span #{val.message}

			.modal.fade(tabindex="-1" role="dialog" id="myModal")
				.modal-dialog
					.modal-content
						.modal-header
							button.close(type="button" data-dismiss="modal" aria-label="Close")
								span(aria-hidden="true") &times;
							h4.modal-title#quiz-name แบบทดสอบ
						.modal-body
							.box-1#item-box
								.aa 
									span.cycle#item 
									span.question#question 
								.ans
									input(type="radio" name="ans" value="1")
									span#ans-1
								.ans
									input(type="radio" name="ans" value="2")
									span#ans-2 
								.ans
									input(type="radio" name="ans" value="3")
									span#ans-3 
								.ans
									input(type="radio" name="ans" value="4")
									span#ans-4 

						.modal-footer
							button.btn.btn-primary#item-sender Submit

	!= renderJs()
	!= renderJs('socket')
	!= renderJs('chat')
	!= renderJs('editor')
	!= renderJs('e_classroom')
	!= renderStyles('e_classroom')
	!= renderJs('terminal')