extends layout
block title
	title e_classroom overall
block content
	.overall
		img.banner(src="/images/banner1.jpg")
		.container
			.filter
				form.form-inline
					span E-Classroom
					select.form-control
						option(value="overall") ค้นหาห้องเรียนทั้งหมด
						option(value="byname") ค้นหาห้องเรียนจากชื่อห้อง
					input.form-control(type="text" placeholder="กรอกชื่อห้อง" disabled="disabled")
					button.btn(type="submit") ค้นหา
			hr
			.list-class
				each classroom in classrooms
					.col-md-4
						article
							img.circle.img-badge(src='/images/class1.jpg')
							p.topic #{classroom.raw_name}
							p.sub-topic มีผู้เรียนในห้องนี้ 
								span #{classroom.student_count}/#{classroom.max_student} คน
							button.btn(type="button" data-toggle="modal" data-target="##{classroom.name}") เข้าห้องเรียน
							.name-teacher
								img.circle.img-teacher(src='/images/mamieo.jpg')
								span #{classroom.teacher.username}
					.modal.fade(id="#{classroom.name}" tabindex="-1")
						.modal-dialog(role="document")
							.modal-content
								.modal-header
									button(type="button" class="close" data-dismiss="modal" aria-label="Close") x
								.modal-body
									.form-inline
										form(method='post' action='enroll')
											input.form-control(name="key" placeholder="กรอกรหัสเข้าห้อง")
											input(name="name" type="hidden" value="#{classroom.name}")
											button.form-control.btn.btn-success(type="submit") ตกลง
	!= renderJs()
	!= renderStyles('e_classroom')
