extends layout_e_classroom
block title
	title CoderPlanet - E-Classroom Teacher
	script(src="/term.js")
block content
	.e_classroom
		.content-classroom
			.window.classroom-teacher
				.intro
					p E-Classroom Name : 
						span #{classroom.raw_name}
						span.key Key : 
						span #{classroom.key}
						button.btn.form-control(type="button") ยกเลิกคลาส
				ul.nav.nav-tabs
					li
						a(href="#editor-view" data-toggle="tab") Editor
					li.active
						a(href="#quiz" data-toggle="tab") Quiz
				.tab-content
					.tab-pane(role="tabpanel" id="editor-view")
						.code
							div#editor-teacher
							//- textarea.editor(id='editor' type='textarea' cols='123' rows='24')
							div#terminal(data-container-id="#{container_id}")

						.footer-window
							input(type='button' class='form-control btn btn-success' value='Save as..' id='save-as')
							input(type='button' class='form-control btn btn-success' value='Save' id='save' disabled="disabled")
							if classroom.status == 'allowed'
								input(type='button' class='form-control btn btn-success' value="Allowed" id='status-changer')
							else
								input(type='button' class='red form-control btn btn-success' value="Disallowed" id='status-changer')
							.chat
								.textbox
									.type
										.input-group
											input(type="text" class="form-control" id="typing-box" placeholder="Message")
											.input-group-addon hide
								.content
									.header 
										p ห้องสนทนา
									.chat-box
										.story
										each val in chat
											if val.is_teacher
												p
													span.name #{val.sender}: 
													span #{val.message}
											else
												p
													span.name.black-font #{val.sender}: 
													span #{val.message}
					.tab-pane.active(role="tabpanel" id="quiz")
						.window-quiz
							//- .create-quiz
							//- 	.form-group.intro
							//- 		button.btn-danger.btn  ยกเลิกแบบทดสอบ

							//- 	.form-inline
							//- 		.form-group
							//- 			label ชื่อแบบทดสอบ
							//- 			input.form-control(id="quiz-name" type="text")
							//- 			input(type="hidden" id="item-count" value="1")

							//- 		.form-group
							//- 			input(type="checkbox") 
							//- 			span กำหนดเวลาทุกข้อในระยะเวลา
							//- 			select.form-control(name="all-minute" id="")
							//- 				option(value="1") 1
							//- 				option(value="2") 2
							//- 				option(value="3") 3
							//- 			span นาที
							//- 			select.form-control(name="all-sec"  id="")
							//- 				option(value="1") 1
							//- 				option(value="2") 2
							//- 				option(value="3") 3
							//- 			span วินาที
							//- 	article
							//- 		.row
							//- 			.col-md-2
							//- 				p คำถามที่ 1
							//- 			.col-md-10
							//- 				input.form-control(id="item1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p A.
							//- 			.col-md-10
							//- 				input.form-control(id="choice1_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p B.
							//- 			.col-md-10
							//- 				input.form-control(id="choice2_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p C.
							//- 			.col-md-10
							//- 				input.form-control(id="choice3_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p D.
							//- 			.col-md-10
							//- 				input.form-control(id="choice4_1" type="text")
							//- 	article
							//- 		.row
							//- 			.col-md-2
							//- 				p คำถามที่ 2
							//- 			.col-md-10
							//- 				input.form-control(id="item1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p A.
							//- 			.col-md-10
							//- 				input.form-control(id="choice1_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p B.
							//- 			.col-md-10
							//- 				input.form-control(id="choice2_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p C.
							//- 			.col-md-10
							//- 				input.form-control(id="choice3_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p D.
							//- 			.col-md-10
							//- 				input.form-control(id="choice4_1" type="text")
							//- 	article
							//- 		.row
							//- 			.col-md-2
							//- 				p คำถามที่ 3
							//- 			.col-md-10
							//- 				input.form-control(id="item1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p A.
							//- 			.col-md-10
							//- 				input.form-control(id="choice1_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p B.
							//- 			.col-md-10
							//- 				input.form-control(id="choice2_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p C.
							//- 			.col-md-10
							//- 				input.form-control(id="choice3_1" type="text")
							//- 		.row.choice
							//- 			.col-md-2
							//- 				p D.
							//- 			.col-md-10
							//- 				input.form-control(id="choice4_1" type="text")
							//- 	button.btn-success.btn(id="quiz-creator") สร้างแบบทดสอบ
							
							.home-quiz
								p แบบทดสอบทั้งหมด
								table
									tr.head-table
										th No
										th(colspan="4")
									tr
										td.no 1
										td.name แบบทดสอบความรู้เบื้องต้นเรื่อง python
										td(colspan="3")
											button.btn-warning.btn Edit
											button.btn-primary.btn Launch
											button.btn-success.btn See result
										
									tr
										td.no 2
										td.name แบบทดสอบความรู้เบื้องต้นเรื่อง Java
										td(colspan="3")
											button.btn-warning.btn Edit
											button.btn-primary.btn Launch
											button.btn-success.btn See result
								
								button.btn-success.btn.btn-lg New Quiz



								
			.sidebar
				.topic
					p Your view
				.teacher
					.docker(data-id="#{classroom.teacher.container_id}" data-owner="#{classroom.teacher.username}")
						img(src="/images/sublime2.png")
						.name #{classroom.teacher.username}
						.clear

				.topic-sub
					p Student view
						span.num_student จำนวนนักเรียน #{classroom.student_count} คน
				.student
					each val in classroom.students
						.docker(data-id="#{val.container_id}" data-owner="#{val.username}")
							img(src="/images/sublime2.png")
							.name
								p #{val.username}
								//- p.type typing ... 
							.clear
				.footer-side
					a.see See all students
		.clear
	!= renderJs()
	!= renderJs('socket')
	!= renderJs('chat')
	!= renderJs('editor_teacher')
	!= renderJs('terminal')
