extends layout_e_classroom
block title
	title CoderPlanet - E-Classroom Student
	script(src="/term.js")
	script.
		function popup(url){
		  new_window = window.open(url,'name','height=650,width=1073');
		  if(window.focus){
			  new_window.focus() 
		  }
		}
block content
	.e_classroom
		.content-classroom
			.window.classroom-student 
				.header-window
					.class-name
						p Name: #{classroom.raw_name}
							span  |
							a(href="") ออกจากคลาส
					.name-teacher
						span อาจารย์ผู้สอน :
						.name-active
							img.circle(src='/uploads/profile_picture/#{classroom.teacher.username}.jpg')
							.username #{classroom.teacher.username}
				.code
					div#editor
					//- textarea.editor(id='editor' type='textarea' cols='154' rows='24')
					div#terminal(data-container-id="#{container_id}")

				.footer-window
					input(type='button' class='form-control btn btn-success' value='Save as..' id='save-as')
					input(type='button' class='form-control btn btn-success' value='Save' id='save' disabled="disabled")
					.techer-window
						.window-teacher
						a(onclick="popup('/e-classroom/#{classroom.name}/teacher/student')") ดูหน้าต่างผู้สอน
					.chat
						.textbox
							.type
								.input-group
									input(class="form-control" id="typing-box" placeholder="Message")
									.input-group-addon hide
						.content
							.header 
								p ห้องสนทนา
							.chat-box
								.story
								each val in chat
									if val.is_teacher
										p
											span.name #{val.sender}: 
											span #{val.message}
									else
										p
											span.name.black-font #{val.sender}: 
											span #{val.message}
	!= renderJs()
	!= renderJs('socket')
	!= renderJs('chat')
	!= renderJs('editor')
	!= renderJs('e_classroom')
	!= renderStyles('e_classroom')
	!= renderJs('terminal')